/* 
Theme Name: btstrp_john-Child  
Theme URL: http://johnmogi.com
Description: btstrp_john Child 
Theme Author: John mogi
Author URL: http://johnmogi.com
Template: btstrp_john
Version: 1.0.0 
Text Domain: btstrp_john-Child 
@import './scss/main.css';
*/

@import './scss/custom.css';
@import './bootstrap-4.5.0-dist/css/bootstrap.min.css';


/* custom */
.col-6 {
    padding: 0 !important;
}

/*UI*/
html {
    scroll-behavior: smooth;
  }
body{
    text-align: right !important;
    direction:rtl;
    font: 14px 'alef',sans-serif;
    overflow-x:hidden;
    background: #e9ebea !important;
  
}
body #primary .container{
    color: #666;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em;
}

#logo {
    max-height: 70%;
    max-width: 200px; 
    transition-timing-function: ease, step-start, cubic-bezier(.99, 1.01, 1, -0.68);

} 

#masthead {
  position: fixed; 
    top: 0;
    z-index: 15;
    max-height: 140px;

    transition-timing-function: ease, step-start, cubic-bezier(.99, 1.01, 1, -0.68);
}

 


.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.navbar, main {
    background-color: #e8e8e8;
}
.navbar{
    box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
}
#primary-menu li{
    display: inline-block;
    padding-right: 22px;
    font-size: 14px;
}
#primary-menu li a {
    font-size: 14px;
    font-weight: 100;
    color: #000 !important;
    font: 14px 'alef',sans-serif;
    padding: 8px;
    text-decoration: none !important;
    line-height: 40px;
    font-weight: 100!important;
    border-top: 4px solid rgba(0,0,0,0)!important;
}

#primary-menu li a:hover {
    border-top: 4px solid #000!important;
    transition: all .4s ease-in-out!important;
}
.hero.jumbotron{
    min-height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-height: 710px;
    background-size: cover;
}

#parallaxHero {
    margin: 30vh auto 0;
    display: block;
        z-index: 5;

    top: 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
footer p{
    color:#fff;
    padding: 20px;
}
.contact{
    min-height: 100vh;
    background: url(./images/contact.jpg) no-repeat;
    margin: 0 auto;
    padding: 12vh;

}
.contactForm{
    float:right;
}

.white-box{
    background:#fff;
}
.white-box hr{
    width: 70px; float: right; margin-bottom: 25px;
}
.white-box p{
    padding: 5px 10px;
    clear: both;

}
/*project*/
.container.space-top {
    margin-top: 57vh;
    z-index: 5;
    position: relative;
}
.single-project h1{
    font-weight: 700;
        font-size: 14px;
}

.single-project #primary .container{
    background:#fff;
margin-left: auto;
margin-right: auto;
}
.single-project .spacer{
    min-height: 28vh;
}
.pr-image{
    margin:33px 0;
}
.font_2.text-center {
    padding: 50px;
    font-size: 22px;
    font-weight: 600;
}
#wpadminbar {
    padding-bottom: 35px;
    z-index: 20;
    position: fixed;
    top: 0;
}
.homeImage {
    display: block;
    width: 100%;
}
.homeCard{
    background: #fff;
    padding-top: 38px;
padding-right: 70px;
padding-bottom: 35px;
padding-left: 60px;
}
.homeCard hr{
width: 70px;
float: right;
display:block;
margin-bottom: 25px;
}
/* .box{
transform: translateX(-26px) translateY(100px);
z-index: 1;
position: relative;
} */
.box-title{
font-size:14px;
font-weight:600;
}
.homeCard.box-2 {
    padding-top: 38px ;
    padding-right: 70px ;
    padding-bottom: 35px ;
    padding-left: 60px ;
    transform: translateY(-100px);
}
.homeImage.box-1{
    transform: translateY(-100px);
}
.homeCard.box-3{
    background: transparent;
    border: 2px solid #000;
    padding-left: 30vh;
max-width: 65%;
}
.homeCard {
    z-index: 8;
}
.homeCard p{
    display:block;
    clear:both;
    width:100%;
    font-size:14px;
}
.pt-120{
    margin-top: -180px;
}
.pt-50 {
    margin-top: -65px;
}
.ng-50{
    margin-bottom: -50px;
}
.homeCard.box-4{
        max-height: 250px;
        transform: translateX(100px) translateY(85vh);
        z-index: 15;
        padding: 25px !important;
        position: relative;
}
.homeImage.box-3  {
        transform: translateX(125px) translateY(140px);
        z-index: 15;
        max-width: 35%;
}
.spacer {
    height: 15vh;
}
.page-template .spacer{
    height:  55vh;
}
.project-card{
    height:250px;
}
.project-name{
    padding:10vh 15px;
    display:none;
}
.project-name:hover{
    display:block;
}
.project-name a{
    color:#fff;
}
@media only screen and (min-width: 681px){
    .single-project #primary .container{
    padding-top: 69px;
    padding-right: 212px;
    padding-bottom: 60px;
    padding-left: 212px;
    }
}